<footer class="py-3 tema fst-italic">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4 text-center">
                <p class="">Location</p>
                <p class="d-inline">Zdravka Čelara 16, <br> Beograd</p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 text-center">
                <p class="">Contact</p>
                <p class="contact d-block">+381 11 1234567</p>
                <a routerLink="/author" class="contact d-block my-4 btn btn-outline-dark shadow">Andrej Šeparović 71/18</a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 text-center">
                <p class="">Hours</p>
                <p class="d-inline">
                    Every day<br>09:00 - 23:00</p>
            </div>
        </div>
    </div>
</footer>
