<div class="row mb-5">
    <div class="col-lg-6 my-2">
        <img class="img-fluid rounded shadow" src="assets/img/location.png" alt="location">
    </div>
    <div class="col-lg-6 fs-5 text-center temaDruga rounded d-flex justify-content-center flex-column fst-italic px-5 my-2">
        <p><i class="fa fa-map-marker" aria-hidden="true"></i> Zdravka Čelara 16, Beograd</p><hr>
        <p><i class="fa fa-phone" aria-hidden="true"></i> +381 11 1234567</p><hr>
        <p><i class="fa fa-envelope" aria-hidden="true"></i> restaurant@email.com</p>
    </div>
</div>
<app-form></app-form>
