.tema{
    background-color: #F4EECA;
    color: #00847F;
}

.bordura{
    border: 1px solid #00847F;
}

.bojaTema{
    color: #00847F;
}

.pozadinaTema{
    background-color: #FFFBE3;
}

.temaDruga{
    background-color: #00847F;
    color: #fff;
}
.green{
    color: #00847F;
}