<div class="row mb-5">
    <div class="col-lg-6 fs-5 text-center tema rounded d-flex justify-content-center flex-column px-5 my-2 shadow">
        <h1><span @fade1>Marko</span> <span @fade2> & </span> <span @fade3>Yellow Sea</span></h1><hr>
        <h2 class="fst-italic">Why should you vist us?</h2><hr>
        <p class="fst-italic">We bring you the best meals, each carefully prepared to satisfy your senses.</p>
    </div>
    <div class="col-lg-6 my-2">
        <img class="img-fluid rounded shadow" src="assets/img/home.png" alt="location">
    </div>
</div>
<div class="row my-5 bg-light">
    <div id="carouselExampleIndicators" class="carousel slide col-lg-6 offset-3 my-5" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets/img/bruschetta.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/img/pasta bolognese.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/img/cheesecake.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<div class="row tema shadow py-5 my-5">
  <div class="col-lg-12 fs-5 text-center rounded d-flex justify-content-center flex-column px-5 my-2">
    <p class="fst-italic">See the wonderful menu we prepared just for you.</p>
  </div>
  <div class="col-lg-12 my-2">
    <button class="btn btn-dark temaDruga bordura d-block m-auto" routerLink="/menu">MENU</button>
  </div>
</div>